{% extends "BtwAppBundle::layout.html.twig" %}

{% block title %}Stimmzettel{% endblock %}

{% block content %}

    <form action="{{ submitUrl }}" method="post" class="row">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Stimme jetzt abgeben »</button>
        <h1 class="text-center">Sie haben 2 Stimmen</h1>

        <div class="col-md-6 text-right">
            <img src="/bundles/btwapp/img/stimme1.png" alt="" />

            <h2>hier eine Stimme</h2>
            <p class="lead">
                für die Wahl <br />
                eines/einer Wahlkreisabgeordneten
            </p>

            <table class="table table-striped table-hover table-bordered">
                {% for candidate in candidates %}
                    <tr>
                        <td class="text-left" style="width: 30px">{{ loop.index0 + 1 }}</td>
                        <td class="text-left">{{ candidate.name }} ({{ candidate.party_abbr }})</td>
                        <td class="text-center" style="width: 50px">
                            <input type="radio" name="candidate_id" value="{{ candidate.id }}" />
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-6">
            <img src="/bundles/btwapp/img/stimme2.png" alt="" />

            <h2 style="color: #4986be">hier eine Stimme</h2>
            <p class="lead" style="color: #4986be">
                für die Wahl <br />
                einer Landesliste (Partei)
            </p>

            <table class="table table-striped table-hover table-bordered">
                {% for party in parties %}
                    <tr>
                        <td class="text-center" style="width: 50px">
                            <input type="radio" name="state_list_id" value="{{ party.id }}" />
                        </td>
                        <td class="text-left">{{ party.name }} ({{ party.abbr }})</td>
                        <td class="text-right" style="width: 30px">{{ loop.index0 + 1 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Stimme jetzt abgeben »</button>
    </form>

{% endblock %}
