{% extends "BtwAppBundle::layout.html.twig" %}

{% block title 'Bundestagswahlen - Startseite' %}

{% block content %}
    <h1>Sitzverteilung im Bundestag, 2013</h1>

    <div class="lead row">
        <div class="col-md-8">
            <div id="chart" class="btw-chart"></div>
        </div>
        <div class="col-md-4">
            <table class="table table-striped">
                {% for party in population %}

                <tr>
                    <th>
                        <span class="label" style="background: {{ party.color }}">&nbsp;&nbsp;</span>&nbsp;
                        {{ party.name }}
                    </th>
                    <td>{{ party.y }} Sitze</td>
                </tr>

                {% endfor %}
            </table>
            <a href="{{ path('btw_app_detail', {'year': year}) }}" class="small">&rarr; Mehr Details zur Wahl</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        createChart('#chart', {{ population | json_encode() | raw }});
    </script>
{% endblock %}
